@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap');

header {
    background-color: #00ABBD;
    padding: 1.5em 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Prompt";
    color: black;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1.3rem;
    font-family: "Prompt";
}

p, li, a {
    font-family: "Figtree"
}

nav > a {
    font-size: 1.2em;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav > a:hover {
    background-color: #026E81;
    border-radius: 10px;
    color: rgb(237, 237, 237);
}

.menuFaketrigger {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
    z-index: 3;
    width: 35px;
    height: 35px;
    opacity: 0;
    display: none;
    cursor: pointer;
}

.menuFaketrigger:checked ~ .smallMenu {
    display: flex;
}

.menuFaketrigger:checked ~ .menuLines span {
    background-color: #232323;
}

.menuFaketrigger:checked ~ .menuLines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.25);
}

.menuFaketrigger:checked ~ .menuLines span:nth-child(2) {
    opacity: 0;
}

.menuFaketrigger:checked ~ .menuLines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.25);
}

.smallMenu {
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 0;
    width: 15rem;
    height: 10rem;   /*calc(altura que estava - altura que aumentou por causa de algum padding)*/
    background-color: #00ABBD;
    border-top: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    display: none;
}

.smallMenu li {
    font-size: 1em;
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallMenu a {  
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.smallMenu li:hover {
    background-color: #026E81;
    color: rgb(237, 237, 237);
}

.smallMenu li:hover a {
    color: rgb(237, 237, 237);
}

.menuLines {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
    z-index: 2;
    width: 35px;
    height: 35px;
    display: none;
}

.menuLines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.topSection {
    background-color: #ffffff;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8rem;
    flex-grow: 0.5;
}

picture {
    align-self: center;
}

.aboutMe {
    max-width: 40rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.aboutMe > p {
    line-height: 1.5rem;
}

.bottomSection {
    background-color: #ffffff;
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    flex-grow: 0.5;
}

#box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#box1 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

#box1 ul > li {
    background-color: #ffaf37;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 6rem 0 1rem 0;
    width: 6.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.458);
    font-weight: 600;
}

#box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box2 ol {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

ol > li {
    background-color: #ffaf37;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 6rem 0 1rem 0;
    width: 6.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.458);
    font-weight: 600;
    position: relative; /*Para conseguir botar os números com absolute*/
}

.number {
    position: absolute;
    top: 0;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 1.2rem;
    height: 1.9rem;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.707);
}

.one {
    background-color: #FFD700;
}

.two {
    background-color: #C0C0C0;
}

.three {
    background-color: #f3800d;
}

footer {
    background-color: #00aabd66;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons {
    padding-left: 2rem;
}

#icons > a {
    padding: 0 0.8rem
}

#contact {
    display: inline-block;
    transform: translate(-5rem); /*NÃO SEI SE ISSO É BOM*/
}

#contact > a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    border-radius: 7px;
    font-weight: bold;
}

#contact > a:hover {
    background-color: #026E81;
    color: rgb(237, 237, 237);
}

@media screen and (max-width: 1200px) {
    .topSection {
        padding-top: 1rem;
        gap: 5rem;
    }

    picture {
        padding-left: 2rem;
    }

    .aboutMe > p {
        padding-right: 4rem;
    }

    .bottomSection {
        padding: 2rem 0;
    }

    #box1, #box2 {
        align-items: center;
    }
}

@media screen and (max-width:1060px) {
    .topSection {
        width: auto;
    }
}

@media screen and (max-width:850px) {
    header {
        padding: 1.5rem 1rem;
    }

    nav {
        display: none;
    }
    
    .topSection {
        flex-direction: column;
        gap: 1rem;
    }

    picture {
        padding-left: 0rem;
    }

    .aboutMe {
        padding: 0 1rem;
    }

    .aboutMe > p {
        padding-right: 1rem;
    }
    
    /*ISSO FAZ O MENU FUNCIONAR*/
    .menuFaketrigger {
        display: block;
    }
    /*ISSO FAZ O MENU APARECER*/
    .menuLines {
        display: block;
    }
}

@media screen and (min-width: 851px) {
    .smallMenu {
        display: none !important;
    }
   
}

@media screen and (max-width:573px) { 
    .menuFaketrigger, .menuLines {
        right: 2rem;
    }
    
    #box1, #box2 {
        width: 380px;
    }

    #box1 ul, #box2 ol {
        justify-content: center;
    }
    
    footer {
        height: 5.5rem;
        flex-direction: column-reverse;
        padding: 0.8rem 0 0.5rem 0;
    }

    #icons {
        padding-left: 0;
    }

    #contact {
        transform: translate(0);
        padding-top: 0.3rem;
    }
}

@media screen and (max-width:406px) {
    header h1 {
        width: 250px;
    }

    .smallMenu {
        top: 112px;
    }

    .menuFaketrigger, .menuLines {
        top: 2.3rem;
    }
}